﻿<%@ Control Language="vb" AutoEventWireup="false" CodeBehind="wucMessage.ascx.vb" Inherits="Saic.wucMessage" %>

<asp:Panel runat="server" ID="pnMessage" Visible="false" CssClass="quitar">
    <asp:Literal ID="ltMessage" runat="server"></asp:Literal>
</asp:Panel>
