﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="InicioP.aspx.vb" Inherits="Saic.InicioP" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPages" runat="server">
     <div id="frm" runat="server">
        <table width="100%">
            <tr>
                <td>
                    <div class="titulos">
                        <asp:Label runat="server" ID="lblTitulo" Text=""></asp:Label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</asp:Content>
