﻿html, body
{
    height: auto;
}
  
  html, body, div, p, ul, ol, li, h1, h2, h3, h4, pre, form, p, button, img
{
    margin: 0;
    padding: 0;
    border: 0;
}
  
  :focus
{
    outline: 0;
}
  
  a img
{
    border: 0;
}
  
  body
{
    background-image: url('../Img/fondo.png');
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

  .encabezado
{
    margin-top:2px;
    text-align:right;
}

 .separador
{
    background-image: url('../Img/sepame.png');
    background-repeat: repeat-y;
    width: 2px;
    height: 68px;
    float: right;
    padding-right:15px;
}

.menuu{
  margin-top:3px;
  }
  
  .menuu span
  {float:right;
  padding-left:2px;
  padding-right:15px;
  padding-top:20px;
  color:#FFF;
  text-decoration:none;
  font-size:14px;}
  
  .menuu a{
  float:right;
  padding-left:2px;
  padding-right:15px;
  padding-top:20px;
  color:#FFF;
  text-decoration:none;
  font-size:14px;
  }
  
  .menuu a:hover{
  float:right;
  padding-left:2px;
  padding-right:15px;
  padding-top:20px;
  color:#FFF;
  text-decoration:underline;
  font-size:14px;
  }
  
   .menuu img
{
    float:right;
    padding-top:21px;
}
  
  .dondee {
  color: #FFFFFF;
  height: 30px;
  padding-top: 5px;
  }
  
.dondee a
{
    color: #FFFFFF;
    text-decoration: none;
}

.dondee a:hover
{
    color: #F2F2F2;
    text-decoration: underline;
}

#wrapper
{
    min-height: 100% !important;
    height: 100%;
    position: relative;
}

#header
{
    min-height:20%;
}
   			
  #content
{
    padding-bottom:100px; 
    margin-top:20px;
    vertical-align:top;
    min-height:450px;
}

 #footer{
  clear:both;
  width: auto;
  min-width:100%;
  background-color:#FFF;
  /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e2d2b), to(#2e2d2b));
  background-repeat:repeat-x;*/
  position:absolute;
  bottom:0 !important;
  }
  
  #infooter{
	width: 100%;
    margin-left: 50px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px;
    font-size: 11px;
    font-weight: bold;
  }
 
 #displayPage
 {
     vertical-align:top;
     width:702px;
     }

 #fotografias{
  width:98%; float:left; padding-top:10px; padding-bottom:20px;
  }
  
 #fotografias img{
  width:98%; border:1px solid #CCC; margin:3%; float:left; margin-top:0;
  }
  
  #screenshot{
	position:fixed;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}
  
 .avisos{
  float:left; width:99%;
  }
  
   .logbox{
  width:75%;
  float:left;
  margin-bottom:7px;
  margin-top:5px;
  margin-left:20px;
  }
  


  .lbmargins{
 margin-top:0px; margin-bottom:50px;
}
  
   .titulos{
  color:#ffffff;
  font-size:24px;
  padding:10px;
  padding-right:0;
  font-weight:bold;
  border-bottom:1px solid #2e2d2b;
  float:left;
  width:98.5%;
  background-color : #2e2d2b;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e4e4e), to(#2e2d2b));
  background-image: -webkit-linear-gradient(top, #4e4e4e, #2e2d2b);
  background-image: -o-linear-gradient(top, #4e4e4e, #2e2d2b);
  background-image: linear-gradient(to bottom, #4e4e4e, #2e2d2b);
  background-image: -moz-linear-gradient(top, #4e4e4e, #2e2d2b);
  background-repeat: repeat-x;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  }
  
  .subTitulo{
  color:#ffffff;
  font-size:14px;
  padding:10px;
  padding-right:0;
  border-bottom:1px solid #2e2d2b;
  float:left;
  width:98.5%;
  background-color : #2e2d2b;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e4e4e), to(#2e2d2b));
  background-image: -webkit-linear-gradient(top, #4e4e4e, #2e2d2b);
  background-image: -o-linear-gradient(top, #4e4e4e, #2e2d2b);
  background-image: linear-gradient(to bottom, #4e4e4e, #2e2d2b);
  background-image: -moz-linear-gradient(top, #4e4e4e, #2e2d2b);
  background-repeat: repeat-x;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 0px 0px 0px 0px;
  }
  
  .titulos2 {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top , #FCFCFC, #F5F5F5);
  background-repeat: repeat-x;
  color: #000000;
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 0 10px 10px;
  width: 98%;
  margin-bottom:0px;
  }
  
.titulosPopUp{ 
  color:#ffffff;
  font-size:large;
  padding: 0px;
  padding-bottom:7px;
  font-weight:bold;
  border-bottom:1px solid #2e2d2b;
  float:left;
  width:100%;
  background-color: #2e2d2b;
  background-image: -moz-linear-gradient(top, #4e4e4e, #2e2d2b);
  background-image: -webkit-linear-gradient(top, #4e4e4e, #2e2d2b);
  background-image: -o-linear-gradient(top, #4e4e4e, #2e2d2b);
  background-image: linear-gradient(top, #4e4e4e, #2e2d2b);
  background-repeat: repeat-x;
   }

.titulosPopUp div
{
    margin:10px;
} 

  .ec2 {
  float:left;
  margin-left:10px;
  margin-right:10px;
  font-size:12px;
  }
  


  
  .el50p{
  width:69%; float:left;
  margin-top:10px;
  }
  
  
    .el100parch{
  width:50%; float:left;
  color:#0088CC;
  font-size:15px;
  padding-top:30px;
  text-align:right;
  width:100%; padding-top:10px; padding-bottom:10px; width:99%;
  }
  
  
  .el50bt{
  width:30%; float:left;
  text-align:right;
  margin-top:10px;
  }
  
  
  .el100t{
  width:100%;
  float:left;
  font-size:16px;
  font-weight:bold;
  margin-top:10px;
  margin-bottom:10px;
  }
  
  .el100tr{
  width:100%;
  float:right;
  font-size:16px;
  font-weight:bold;
  margin-bottom:10px;
  }
  
   .ajax__tab_xp .ajax__tab_header{
	  margin-top:10px !important;
	  font-size:14px !important;
  }


#login {
	width: 471px;
	height: 544px;
	position: absolute;
	left: 55%;
	top: 40%;
	margin-top: -235px;
	margin-left: -272px;
	background-image: url('../Img/login2.png');
	background-repeat: no-repeat;
	font-size: 14px;
}
 
  
 .LoadingDiv
{
    background: url('../Img/OverlayBackground.png') repeat;
    left: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: auto;
}

.CajaDialogo {
	border: 0;
	border-left-color: transparent;
	background-color: #FFFFFF;
	/*background-color: #FFF;
    border-width: 5px;
    border-style: outset;
    width: 400px;
    border-color: #ff5f00;
    padding: 0px¨;*/
}

.LoadingImageDiv
{
	height: 150px;
	left: 50%;
	margin-left: -75px;
	margin-top: -75px;
	position: relative;
	top: 50%;
	width: 150px;
}

.table-cues {
  margin-bottom: 15px;
  width:100%;
}

.table-cues th,
.table-cues td {
  padding: 8px;
  line-height: 20px;
  vertical-align:middle;
  border: 1px solid #dddddd;
}

.popover2
{padding: 1px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.popover2.top {
  margin-bottom: 10px;
}

.popover2.right {
  margin-left: 10px;
}

.popover2.bottom {
  margin-top: 10px;
}

.popover2.left {
  margin-right: 10px;
}

.popover2 .arrow,
.popover2 .arrow:after 
{
  position:absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover2 .arrow:after {
  z-index: -1;
  content: "";
}

.popover2.top .arrow 
{
  bottom: 1px;
  left: 50%;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-width: 10px 10px 0;
}

.popover2.top .arrow:after {
  bottom: -1px;
  left: -11px;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-width: 11px 11px 0;
}

.popover2.right .arrow {
  top: 45px;
  left: 1px;
  margin-top: -10px;
  border-right-color: #ffffff;
  border-width: 10px 10px 10px 0;
}

.popover2.right .arrow:after {
  bottom: -11px;
  left: -1px;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-width: 11px 11px 11px 0;
}

.popover2.bottom .arrow {
  top: 1px;
  left: 50%;
  margin-left: -10px;
  border-bottom-color: #ffffff;
  border-width: 0 10px 10px;
}

.popover2.bottom .arrow:after {
  top: -1px;
  left: -11px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-width: 0 11px 11px;
}

.popover2.left .arrow {
  top: 45px;
  right: 1px;
  margin-top: -10px;
  border-left-color: #ffffff;
  border-width: 10px 0 10px 10px;
}

.popover2.left .arrow:after {
  right: -1px;
  bottom: -11px;
  border-left-color: rgba(0, 0, 0, 0.25);
  border-width: 11px 0 11px 11px;
}

.upload > div
{
    display:inline;    
}

div .upload
{
    display:inline;    
}



.shadow {
    -moz-box-shadow: 2px 2px 3px #111;
    -webkit-box-shadow: 2px 2px 3px #111;
    box-shadow: 2px 2px 3px #111;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111')";
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#111111');
}



.radioButtonList td
{
   display:inline; 
   text-align:center;
   padding-left:35px;
}



.center
{
    text-align:center;    
}

.inline
{
    display:inline;    
}


.tabla_titulos th
{
  color:#ffffff;
  font-size:16px;
  padding:5px;
  padding-right:0;
  font-weight:bold;
  border-bottom:1px solid #2e2d2b;   
  background-color: #2e2d2b;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e4e4e), to(#2e2d2b));
  background-image: -webkit-linear-gradient(top, #4e4e4e, #2e2d2b);
  background-image: -o-linear-gradient(top, #4e4e4e, #2e2d2b);
  background-image: linear-gradient(to bottom, #4e4e4e, #2e2d2b);
  background-image: -moz-linear-gradient(top, #4e4e4e, #2e2d2b);
  background-repeat: repeat-x; 
 
}

th.sortasc a
{
    display: block;
    padding: 0 4px 0 15px;
    background: url('../Img/icons/arrow_up.png') no-repeat;
}
     
th.sortdesc a
{
    display: block;
    padding: 0 4px 0 15px;
    background: url('../Img/icons/arrow_down.png') no-repeat;
}