.calendario .ajax__calendar_container
{
    width: 195px;
    background-color: #53B9D7;
    border: solid 1px #DDDDDD;
    -moz-border-radius-topleft: 10px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 10px /*{cornerRadius}*/;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-topright: 10px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 10px /*{cornerRadius}*/;
    border-top-right-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 10px /*{cornerRadius}*/;
    border-bottom-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomright: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 10px /*{cornerRadius}*/;
    border-bottom-right-radius: 10px /*{cornerRadius}*/;
    color: #FFFFFF;
}
.calendario .ajax__calendar_body
{
    width: 190px;
    background-color: #FFFFFF;
    border: solid 1px #cccccc;
    color: #000000;
}
.calendario .ajax__calendar_header
{
    background-color: #000000;
    margin-bottom: 5px;
    -moz-border-radius-topleft: 10px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 10px /*{cornerRadius}*/;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-topright: 10px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 10px /*{cornerRadius}*/;
    border-top-right-radius: 10px /*{cornerRadius}*/;
    color: #FF6600;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(top, #444444, #222222);
} 
.calendario .ajax__calendar_title
{
color: #ffffff; padding-top: 3px;
}
.calendario .ajax__calendar_next, .calendario .ajax__calendar_prev
{
    border: solid 2px #ffffff;
    background-color: #FFFFFF;
    margin-top:4px;
    height:8px;
    width:8px;
    margin-left:10px;
    margin-right:10px;
    -moz-border-radius-topleft: 10px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 10px /*{cornerRadius}*/;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-topright: 10px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 10px /*{cornerRadius}*/;
    border-top-right-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 10px /*{cornerRadius}*/;
    border-bottom-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomright: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 10px /*{cornerRadius}*/;
    border-bottom-right-radius: 10px /*{cornerRadius}*/;
}
.calendario .ajax__calendar_hover .ajax__calendar_next, .calendario .ajax__calendar_hover .ajax__calendar_prev
{
    border: solid 1px #ffffff;
    margin-top:6px;
    background-color: #ffffff;
}
.calendario .ajax__calendar_dayname
{
text-align:center; margin-bottom: 4px; margin-top: 2px;
} 
.calendario .ajax__calendar_day, .calendario .ajax__calendar_month, .calendario .ajax__calendar_year
{
    margin: 1px 1px 1px 1px;
    text-align: center;
    border: solid 1px #cccccc;
    color: #000000;
    background-color: #f9f9f9;
}
.calendario .ajax__calendar_hover .ajax__calendar_day, .calendario .ajax__calendar_hover .ajax__calendar_month, .calendario .ajax__calendar_hover .ajax__calendar_year
{
    color: #FBD850;
    font-weight: bold;
    background-color: #FEFEFE;
    border: 1px solid #FF6600;
}
.calendario .ajax__calendar_active .ajax__calendar_day, .calendario .ajax__calendar_active .ajax__calendar_month, .calendario .ajax__calendar_active .ajax__calendar_year
{
    color: #FF6600;
    font-weight: bold;
    background-color: #FEFEFE;
}
.calendario .ajax__calendar_today .ajax__calendar_day
{
    color: #FF6600;
    font-weight: bold;
    background-color: #FEFEFE;
}
.calendario .ajax__calendar_other, .calendario .ajax__calendar_hover .ajax__calendar_today
{
    color: #FFFFFF;
    font-weight: bold;
}
.ajax__calendar_days
{
    background-color: #FFFFFF;
    color: #000000;
}

.calendario2 .ajax__calendar_container
{
    width: 195px;
    background-color: #0061CC;
    border: solid 1px #DDDDDD;
    -moz-border-radius-topleft: 10px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 10px /*{cornerRadius}*/;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-topright: 10px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 10px /*{cornerRadius}*/;
    border-top-right-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 10px /*{cornerRadius}*/;
    border-bottom-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomright: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 10px /*{cornerRadius}*/;
    border-bottom-right-radius: 10px /*{cornerRadius}*/;
    color: #FFFFFF;
}
.calendario2 .ajax__calendar_body
{
    width: 190px;
    background-color: #FFFFFF;
    border: solid 1px #cccccc;
    color: #000000;
}
.calendario2 .ajax__calendar_header
{
    background-color: #000000;
    margin-bottom: 5px;
    -moz-border-radius-topleft: 10px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 10px /*{cornerRadius}*/;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-topright: 10px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 10px /*{cornerRadius}*/;
    border-top-right-radius: 10px /*{cornerRadius}*/;
    color: #FF6600;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(top, #444444, #222222);
} 
.calendario2 .ajax__calendar_title
{
color: #ffffff; padding-top: 3px;
}
.calendario2 .ajax__calendar_next, .calendario2 .ajax__calendar_prev
{
    border: solid 2px #ffffff;
    background-color: #FFFFFF;
    margin-top:4px;
    height:8px;
    width:8px;
    margin-left:10px;
    margin-right:10px;
    -moz-border-radius-topleft: 10px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 10px /*{cornerRadius}*/;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-topright: 10px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 10px /*{cornerRadius}*/;
    border-top-right-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 10px /*{cornerRadius}*/;
    border-bottom-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomright: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 10px /*{cornerRadius}*/;
    border-bottom-right-radius: 10px /*{cornerRadius}*/;
}
.calendario2 .ajax__calendar_hover .ajax__calendar_next, .calendario2 .ajax__calendar_hover .ajax__calendar_prev
{
    border: solid 1px #ffffff;
    margin-top:6px;
    background-color: #ffffff;
}
.calendario2 .ajax__calendar_dayname
{
text-align:center; margin-bottom: 4px; margin-top: 2px;
} 
.calendario2 .ajax__calendar_day, .calendario2 .ajax__calendar_month, .calendario2 .ajax__calendar_year
{
    margin: 1px 1px 1px 1px;
    text-align: center;
    border: solid 1px #cccccc;
    color: #000000;
    background-color: #f9f9f9;
}
.calendario2 .ajax__calendar_hover .ajax__calendar_day, .calendario2 .ajax__calendar_hover .ajax__calendar_month, .calendario2 .ajax__calendar_hover .ajax__calendar_year
{
    color: #FBD850;
    font-weight: bold;
    background-color: #FEFEFE;
    border: 1px solid #FF6600;
}
.calendario2 .ajax__calendar_active .ajax__calendar_day, .calendario2 .ajax__calendar_active .ajax__calendar_month, .calendario2 .ajax__calendar_active .ajax__calendar_year
{
    color: #FF6600;
    font-weight: bold;
    background-color: #FEFEFE;
}
.calendario2 .ajax__calendar_today .ajax__calendar_day
{
    color: #FF6600;
    font-weight: bold;
    background-color: #FEFEFE;
}
.calendario2 .ajax__calendar_other, .calendario2 .ajax__calendar_hover .ajax__calendar_today
{
    color: #FFFFFF;
    font-weight: bold;
}

.calendario3 .ajax__calendar_container
{
    width: 195px;
    background-color: #ABC7E2;
    border: solid 1px #DDDDDD;
    -moz-border-radius-topleft: 10px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 10px /*{cornerRadius}*/;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-topright: 10px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 10px /*{cornerRadius}*/;
    border-top-right-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 10px /*{cornerRadius}*/;
    border-bottom-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomright: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 10px /*{cornerRadius}*/;
    border-bottom-right-radius: 10px /*{cornerRadius}*/;
    color: #FFFFFF;
}
.calendario3 .ajax__calendar_body
{
    width: 190px;
    background-color: #FFFFFF;
    border: solid 1px #cccccc;
    color: #000000;
}
.calendario3 .ajax__calendar_header
{
    background-color: #000000;
    margin-bottom: 5px;
    -moz-border-radius-topleft: 10px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 10px /*{cornerRadius}*/;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-topright: 10px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 10px /*{cornerRadius}*/;
    border-top-right-radius: 10px /*{cornerRadius}*/;
    color: #FF6600;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(top, #444444, #222222);
} 
.calendario3 .ajax__calendar_title
{
color: #ffffff; padding-top: 3px;
}
.calendario3 .ajax__calendar_next, .calendario3 .ajax__calendar_prev
{
    border: solid 2px #ffffff;
    background-color: #FFFFFF;
    margin-top:4px;
    height:8px;
    width:8px;
    margin-left:10px;
    margin-right:10px;
    -moz-border-radius-topleft: 10px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 10px /*{cornerRadius}*/;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-topright: 10px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 10px /*{cornerRadius}*/;
    border-top-right-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 10px /*{cornerRadius}*/;
    border-bottom-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomright: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 10px /*{cornerRadius}*/;
    border-bottom-right-radius: 10px /*{cornerRadius}*/;
}
.calendario3 .ajax__calendar_hover .ajax__calendar_next, .calendario3 .ajax__calendar_hover .ajax__calendar_prev
{
    border: solid 1px #ffffff;
    margin-top:6px;
    background-color: #ffffff;
}
.calendario3 .ajax__calendar_dayname
{
text-align:center; margin-bottom: 4px; margin-top: 2px;
} 
.calendario3 .ajax__calendar_day, .calendario3 .ajax__calendar_month, .calendario3 .ajax__calendar_year
{
    margin: 1px 1px 1px 1px;
    text-align: center;
    border: solid 1px #cccccc;
    color: #000000;
    background-color: #f9f9f9;
}
.calendario3 .ajax__calendar_hover .ajax__calendar_day, .calendario3 .ajax__calendar_hover .ajax__calendar_month, .calendario3 .ajax__calendar_hover .ajax__calendar_year
{
    color: #FBD850;
    font-weight: bold;
    background-color: #FEFEFE;
    border: 1px solid #FF6600;
}
.calendario3 .ajax__calendar_active .ajax__calendar_day, .calendario3 .ajax__calendar_active .ajax__calendar_month, .calendario3 .ajax__calendar_active .ajax__calendar_year
{
    color: #FF6600;
    font-weight: bold;
    background-color: #FEFEFE;
}
.calendario3 .ajax__calendar_today .ajax__calendar_day
{
    color: #FF6600;
    font-weight: bold;
    background-color: #FEFEFE;
}
.calendario3 .ajax__calendar_other, .calendario3 .ajax__calendar_hover .ajax__calendar_today
{
    color: #FFFFFF;
    font-weight: bold;
}

.calendario4 .ajax__calendar_container
{
    width: 195px;
    background-color: #F3F3F3;
    border: solid 1px #DDDDDD;
    -moz-border-radius-topleft: 10px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 10px /*{cornerRadius}*/;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-topright: 10px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 10px /*{cornerRadius}*/;
    border-top-right-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 10px /*{cornerRadius}*/;
    border-bottom-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomright: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 10px /*{cornerRadius}*/;
    border-bottom-right-radius: 10px /*{cornerRadius}*/;
    color: #000000;
}
.calendario4 .ajax__calendar_body
{
    height: auto;
    width: auto;
    max-height: 150px;
    max-width: 182px;
    min-height: 135px;
    min-width: 176px;
    background-color: #FFFFFF;
    border: solid 1px #cccccc;
    color: #000000;
}
.calendario4 .ajax__calendar_header
{
    background-color: #000000;
    margin-bottom: 5px;
    -moz-border-radius-topleft: 10px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 10px /*{cornerRadius}*/;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-topright: 10px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 10px /*{cornerRadius}*/;
    border-top-right-radius: 10px /*{cornerRadius}*/;
    color: #FF6600;
    background-image: -moz-linear-gradient(top, #444444, #222222);
    background-image: -webkit-linear-gradient(top, #444444, #222222);
    background-image: linear-gradient(top, #444444, #222222);
} 
.calendario4 .ajax__calendar_title
{
color: #ffffff; padding-top: 3px;
}
.calendario4 .ajax__calendar_next, .calendario4 .ajax__calendar_prev
{
    border: solid 2px #ffffff;
    background-color: #FFFFFF;
    margin-top:4px;
    height:8px;
    width:8px;
    margin-left:10px;
    margin-right:10px;
    -moz-border-radius-topleft: 10px /*{cornerRadius}*/;
    -webkit-border-top-left-radius: 10px /*{cornerRadius}*/;
    border-top-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-topright: 10px /*{cornerRadius}*/;
    -webkit-border-top-right-radius: 10px /*{cornerRadius}*/;
    border-top-right-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomleft: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-left-radius: 10px /*{cornerRadius}*/;
    border-bottom-left-radius: 10px /*{cornerRadius}*/;
    -moz-border-radius-bottomright: 10px /*{cornerRadius}*/;
    -webkit-border-bottom-right-radius: 10px /*{cornerRadius}*/;
    border-bottom-right-radius: 10px /*{cornerRadius}*/;
}
.calendario4 .ajax__calendar_hover .ajax__calendar_next, .calendario4 .ajax__calendar_hover .ajax__calendar_prev
{
    border: solid 1px #ffffff;
    margin-top:6px;
    background-color: #ffffff;
}
.calendario4 .ajax__calendar_dayname
{
text-align:center; margin-bottom: 4px; margin-top: 2px;
} 
.calendario4 .ajax__calendar_day, .calendario4 .ajax__calendar_month, .calendario4 .ajax__calendar_year
{
    margin: 1px 1px 1px 1px;
    text-align: center;
    border: solid 1px #cccccc;
    color: #000000;
    background-color: #f9f9f9;
    height:auto;
}
.calendario4 .ajax__calendar_hover .ajax__calendar_day, .calendario4 .ajax__calendar_hover .ajax__calendar_month, .calendario4 .ajax__calendar_hover .ajax__calendar_year
{
    color: #FBD850;
    font-weight: bold;
    background-color: #FEFEFE;
    border: 1px solid #FF6600;
}
.calendario4 .ajax__calendar_active .ajax__calendar_day, .calendario4 .ajax__calendar_active .ajax__calendar_month, .calendario4 .ajax__calendar_active .ajax__calendar_year
{
    color: #FF6600;
    font-weight: bold;
    background-color: #FEFEFE;
}
.calendario4 .ajax__calendar_today .ajax__calendar_day
{
    color: #FF6600;
    font-weight: bold;
    background-color: #FEFEFE;
}
.calendario4 .ajax__calendar_other, .calendario4 .ajax__calendar_hover .ajax__calendar_today
{
    color: #000000;
    font-weight: bold;
}

.calendario4 .ajax__calendar_container  table, .calendario4 .ajax__calendar_container  th, .calendario4 .ajax__calendar_container td, .calendario4 .ajax__calendar_container  tr
{
    padding: 0px !important;
}