﻿.menudoc{
  border-color:#c4c4c4 !important;
  border-style:solid !important;
  border-width:1px !important;
  color:#fff !important;
  font-size:12px;
  font-weight:bold;
  padding:6px;
  width:80%;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff5f00;
  *background-color: #ff5f00;
  background-image: -webkit-linear-gradient(top, #ff5f00, #fb7c30);
  background-image: -o-linear-gradient(top, #fb7c30, #ff5f00);
  background-image: linear-gradient(to bottom, #fb7c30, #ff5f00);
  background-image: -moz-linear-gradient(top, #fb7c30, #ff5f00);
  background-repeat: repeat-x;
 }
 
 .menuico {
  color:#353535;
  font-size:11px;
  padding:6px !important;
  padding-left:3px;
  /*width:92%;*/
  width: 175px;
  font-weight:bold;
  border-color:#c4c4c4 !important;
  border-style:solid !important;
  border-width:1px !important;
  background-color: #f5f5f5;
  *background-color: #f3f3f3;
  background-image: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -o-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: linear-gradient(to bottom, #ffffff, #f3f3f3);
  background-image: -moz-linear-gradient(top, #ffffff, #f3f3f3);
  background-repeat: repeat-x;
  }
  
  .menuicoAuto {
  color:#353535;
  font-size:12px;
  width: 100%;
  padding:6px !important;
  padding-right: 10px !important;
  margin-left: 1px !important;
  font-weight:bold;
  border-color:#c4c4c4 !important;
  border-style:solid !important;
  border-width:1px !important;
  background-color: #f5f5f5;
  *background-color: #f3f3f3;
  /*background-image: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: -o-linear-gradient(top, #ffffff, #f3f3f3);
  background-image: linear-gradient(to bottom, #ffffff, #f3f3f3);
  background-image: -moz-linear-gradient(top, #ffffff, #f3f3f3);*/
  background-repeat: repeat-x;

  }
    
  .txtCal
{
      color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
    text-align:center;
    }
    
    .acordeon-encabezado
{
    padding: 8px 5px;
    background-color: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    margin-top: 2px;
    cursor: pointer;
}

.acordeon-encabezado:hover
{
    color: #0088cc;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.125);
    cursor: pointer;
}

.acordeon-contenido
{
    padding: 8px 5px;
    border: 1px solid #d4d4d4;
    border-top: 0px;
    margin-bottom: 4px;
    min-height:425px;
    height: 425px;
    max-height:425px;
}

.acordeon-encabezado-seleccionado
{
    text-decoration: none;
    padding: 8px 5px;
    background-color: #fafafa;
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    margin-top: 2px;
    cursor: pointer;
    font-weight: bold;
}

.acordeon-encabezado-seleccionado:hover
{
    color: #005580;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 0px 4px rgba(0, 0, 0, 0.125);
    cursor: pointer;
    font-weight: bold;
}
