﻿.ajax__fileupload
{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: inset 0px 1px 2px #dddddd;
    padding: 4px;
    overflow: hidden !important;
    max-width:698px !important;
}

.ajax__fileupload_selectFileContainer
{
    display: inline-block;
    overflow: hidden !important;
    position: relative;
    width: 100px;
    float: left;
    height: 28px;
    padding: 3px 3px 3px 3px;
    line-height: 20px;
}

.ajax__fileupload_selectFileContainer > input[type=file]
{
    border: medium none;
    cursor: pointer;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.ajax__fileupload_selectFileButton
{
    height: 24px;
    line-height: 24px;
    width: auto;
    text-align: center;
    background-color: #fbfbfb !important;
    color: #212121 !important;
    cursor: pointer;
    margin-right: 4px;
    font-size: 14px;
    font-weight:normal !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    display: inline-block;
    padding: 0px;
    white-space: nowrap;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fbfbfb), color-stop(1, #ececec) ) !important;
    background-image: -moz-gradient( linear, left top, left bottom, color-stop(0.05, #fbfbfb), color-stop(1, #ececec) )  !important;
    background-image: gradient( linear, left top, left bottom, color-stop(0.05, #fbfbfb), color-stop(1, #ececec) )  !important;
}

.ajax__fileupload_topFileStatus {

    color: rgb(127, 126, 126);

}

.ajax__fileupload_uploadbutton
{
    height: 24px;
    line-height: 24px;
    width: auto;
    text-align: center;
    background-color: #fbfbfb !important;
    color: #212121 !important;
    cursor: pointer;
    margin-right: 4px;
    font-size: 14px;
    font-weight:normal !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    display: inline-block;
    padding: 0px;
    white-space: nowrap; 
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fbfbfb), color-stop(1, #ececec) ) !important;
    background-image: -moz-gradient( linear, left top, left bottom, color-stop(0.05, #fbfbfb), color-stop(1, #ececec) )  !important;
    background-image: gradient( linear, left top, left bottom, color-stop(0.05, #fbfbfb), color-stop(1, #ececec) )  !important;

}

.ajax_fileupload_cancelbutton
{
    /*height: 24px;
    line-height: 24px;
    width: auto;
    text-align: center;
    background-color: #fbfbfb !important;
    color: #212121 !important;
    cursor: pointer;
    margin-right: 4px;
    font-size: 14px;
    font-weight:normal !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    display: inline-block;
    padding: 0px;
    white-space: nowrap;
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fbfbfb), color-stop(1, #ececec) ) !important;
    background-image: -moz-gradient( linear, left top, left bottom, color-stop(0.05, #fbfbfb), color-stop(1, #ececec) )  !important;
    background-image: gradient( linear, left top, left bottom, color-stop(0.05, #fbfbfb), color-stop(1, #ececec) )  !important;

    */
    display: none;

}

.ajax__fileupload_dropzone
{
    display: none;
}

.ajax__fileupload_queueContainer
{
    border: none !important;
    margin-top: 2px;
    padding: 4px;
    clear: both;
    overflow: auto !important;
}

.ajax__fileupload_progressBar
{
    padding-left: 4px;
    background-color: #90EE90 !important;
}

.ajax__fileupload_footer
{
    margin-top: 2px;
    line-height: 20px;
    min-height: 30px;
    height: auto;
    overflow: auto !important;
}

.ajax__fileupload_fileItemInfo
{
    line-height: 18px;
    height: auto;
    vertical-align: center;
    display:table-row;
}

.ajax__fileupload_fileItemInfo .filename {

    font-weight: bold;
}

.ajax__fileupload_fileItemInfo .uploadstatus {

    font-style: italic;
}

.ajax__fileupload_fileItemInfo .removeButton
{
    height: 24px;
    line-height: 24px;
    width: auto;
    text-align: center;
    background-color: #fbfbfb !important;
    color: #212121 !important;
    cursor: pointer;
    font-size: 14px;
    font-weight:normal !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding: 0px;
    white-space: nowrap;
     background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fbfbfb), color-stop(1, #ececec) ) !important;
    background-image: -moz-gradient( linear, left top, left bottom, color-stop(0.05, #fbfbfb), color-stop(1, #ececec) )  !important;
    background-image: gradient( linear, left top, left bottom, color-stop(0.05, #fbfbfb), color-stop(1, #ececec) )  !important;

    position:relative !important;
    margin-right:5px;
}

.ajax__fileupload_fileItemInfo .uploadedState
{
    color: #060;
    background-color: #fff;
}

.ajax__fileupload_fileItemInfo .uploadingState
{
    color: #000000;
    background-color: #fff;
}

.ajax__fileupload_fileItemInfo .pendingState
{
    color: #009;
    background-color: #fff;
    margin-right: 3px;
}

.ajax__fileupload_fileItemInfo .errorState
{
    color: #ffffff;
    background-color: #ff0000;
}

.ajax__fileupload_fileItemInfo .cancelledState
{
    color: #900;
    background-color: #fff;
}

