﻿body, td, p {
    font-size: 10pt;
    font-family: Tahoma, Arial, Sans-serif;
}
.header {
    font-size: 14pt;
    font-weight: bold;
}

/* Navigator */

.navigator_silver_main 
{
	border-left: 1px solid #A0A0A0;
	border-right: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
    background-color: white;
    color: #000000;
}

.navigator_silver_month {
    font-family: Tahoma;
    font-size: 8pt;
}
.navigator_silver_day {
    color: black;
}
.navigator_silver_dayheader {
    color: black;
}

.navigator_silver_line 
{
	border-bottom: 1px solid #A0A0A0;
}

.navigator_silver_dayother {
    color: gray;
}
.navigator_silver_todaybox
{
	border: 1px solid red;
}

.navigator_silver_select 
{
    background-color: #FFE794;
}
.navigator_silver_title, .navigator_silver_titleleft, .navigator_silver_titleright {
    background-color: #ECE9D8;
    border-top: 1px solid #A0A0A0;
	background-image: url(Media/navigator_silver_top21.gif);
	background-repeat: repeat-x;
}
.navigator_silver_busy {
	font-weight: bold;
}

/* Calendar */

/* calendar silver theme */
.calendar_silver_colheader
{
	background-image: url(Media/calendar_silver_top21.gif);
	background-repeat: repeat-x;
	background-color: #EAEAEA;
}
.calendar_silver_corner 
{
	background-image: url(Media/calendar_silver_corner20.gif);
	background-repeat: repeat-x;
	background-color: #EAEAEA;
}
.calendar_silver_rowheader 
{
	background-image: url(Media/calendar_silver_left45.gif);
	background-repeat: repeat-y;
	background-color: #CFCFCF;
}
.calendar_silver_cornerright 
{
	background-image: url(Media/calendar_silver_right17.gif);
	background-repeat: repeat-y;
	background-color: #CFCFCF;
}
.calendar_silver_alldayheader 
{
	background-color: #EAEAEA;
}

.calendar_silver_alldayevent 
{
	background-image: url(Media/calendar_silver_top21.gif);
	background-repeat: repeat-x;
	background-color: #CFCFCF;
}